<html>
    <head>
        <title>Workradar</title>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    </head>
    <body>
      <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <a href="/" class="uk-navbar-item uk-logo"><img src="{{ url_for('static', filename='logoextended.png') }}" style="height: 70px; width: auto; margin: 10px"></a>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li class="uk-navbar-item"><a href="/index">Home</a></li>
            <li class="uk-navbar-item"><a href="/about">About</a></li>
            <li class="uk-navbar-item"><a href="/contact">Contact</a></li>
            {% if current_user.is_anonymous %}
            <li class="uk-navbar-item"><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li class="uk-navbar-item"><a href="/user/{{ current_user.username }}">{{ current_user.username }}</a></li>
            <li class="uk-navbar-item"><a href="{{ url_for('logout') }}" style="color: red;">Log out</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="uk-container">
        {% block content %}{% endblock %}
      </div>
    </body>
</html>