{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Sign in</h1>
    <form class="form-group" action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <div class="d-flex flex row p-2">
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <div style="width: 70px;"></div>
            <p>{{ form.submit() }}</p>
        </div>

    </form>

    
    <a href="/register">Don't have an account? Click here.</a>
</div>

{% endblock %}