{% extends "base.html" %}

{% block content %}

<div class="uk-position-center" style="background-color: #dedede; padding: 40px; border-radius: 30px">
        <h1>Login</h1>

        <form class="uk-form-horizontal" method="POST" novalidate>
            <fieldset class="uk-fieldset">
                {{ form.hidden_tag() }}

                <div class="uk-margin">
                    {{ form.username.label }}
                    {{ form.username(class_="uk-input", size=32) }}
                </div>
                
                <div class="uk-margin">
                    {{ form.password.label }}
                    {{ form.password(class_="uk-input", size=32) }}
                </div>
                <hr>
                <div class="uk-margin">
                    {{ form.remember_me(class_="uk-radio") }}
                    {{ form.remember_me.label }}
                </div>

                <div class="uk-margin">
                    {{ form.submit(class_="uk-button uk-button-primary") }}
                </div>

            </fieldset>
        </form>

        <a href="/register">Don't have an account? Click here.</a>
</div>

{% endblock %}

